.parent{
	display: flex;
	max-width: 100%;
	padding: 2%;
	margin:2%;
	text-align: center;
	flex-direction: row;
}
.parent>div{
	width:30%;
	border-radius:10%;
	border:dotted;
	padding: 1%;
	margin:1%;
}
img{
  width: 200px;
  border-radius:20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
a{
	text-decoration: none;
}
@media only screen and (max-width:320px) and (max-width:480px) {
  .parent{
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 1%;
	margin:1%;
	text-align: center;
	justify-content: center;
}
a,h2,h3,h4,p{
    word-wrap: break-word;
  }
.parent>div{
	width:100%;
	border-radius:15%;
	border:dotted;
	padding: 1%;
	margin:1%;
	text-align: center;

}
img{
  width: 200px;
  border-radius:10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
} 